<table id="outer" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td>
            <table class="full-size" style="background-color: #ffffff;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                <tr>
                    <td>
                        <br />
                    </td>
                </tr>
                </tbody>
            </table>
            <table id="wrapper" style="background-color: #ffffff;" width="100%" cellspacing="0" cellpadding="10" bordercolor="#21629e" border="1" align="center">
                <tbody>
                <tr>
                    <td>
                        <table id="body" class="full-size" cellspacing="0" cellpadding="0" border="0" align="left">
                            <tbody>
                            <tr>
                                <td valign="top">
                                    <p><span style="font-size: small; font-family: 'Segoe UI';"><span style="color: #4f81bd;">A client has responded</span><br style="color: #4f81bd; font-family: 'Segoe UI'; font-size: x-small; background-color: #ffffff;" />
                                            <span style="font-size: x-small; background-color: #ffffff; font-family: 'Segoe UI'; color: #4f81bd;">You are being notified due to workflow #E01</span></span>
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <span style="font-family: 'Segoe UI'; font-size: 13px;"></span></td>
                </tr>
                <tr>
                    <td>Ticket: [%Ticket Number%]<br />
                        <table class="full-size" style="padding: 0px; margin: 0px;" width="100%" cellspacing="0" cellpadding="1" border="0">
                            <tbody>
                            <tr>
                                <td valign="top" align="left">
                                    <p><span style="line-height: 18px; font-size: small; background-color: #ffffff; font-family: 'Segoe UI';">Details:</span></p>
                                    <p><span style="line-height: 18px; font-size: small; background-color: #ffffff; font-family: 'Segoe UI';">&nbsp;</span><span style="font-size: small; background-color: #ffffff; font-family: 'Segoe UI';">[%ActivityDetails%]</span></p>
                                    <p><span style="font-size: small; background-color: #ffffff; font-family: 'Segoe UI';">&nbsp;</span></p>
                                    <p><span style="font-size: small; background-color: #ffffff; font-family: 'Segoe UI';">&nbsp;</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="left">
                                    <p>Technician URL:  [%Ticket URL%] </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>